.scheduleEditorTitle {
    padding-bottom: 5px !important;
}

.editorContent {
    padding-bottom: 0px !important;
}

.scheduleContainer {
    margin-top: 20px !important;
    margin-bottom: 10px !important;
}