.header {
    background-color: lightgray;
    width: 100vw;
    height: 10%;
    min-height: 5vh;
}

.headerField {
    cursor: pointer;
    min-height: 5vh;
    display: flex;
    align-items: center;
}

.headerField:hover {
    background-color: grey;
    transition: 0.2s;
}

.menutext {
    width: 60%;
    margin-left: auto !important;
}